<launch>

  <include file="$(find arm_xarm)/launch/rs_rgbd.launch">
  </include>

  <!-- TODO: this will be used for both train tiome and demo collection time -->
  <node name="rviz"
        pkg="rviz" type="rviz"
        clear_params="true"
        args="-d $(find arm_xarm)/rviz/setup.rviz">
  </node>
</launch>
